CREATE DATABASE [BDSPORTCENTERDW]
GO

USE [BDSPORTCENTERDW]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[IsAdm] [varchar](1) NULL,
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CAT_ESTADO_TRANSACCION]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CAT_ESTADO_TRANSACCION](
	[ID_ESTADO_TRANSACCION] [int] NULL,
	[DES_ESTADO_TRANSACCION] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CATEGORIA]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CATEGORIA](
	[ID_CATEGORIA] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TB_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CLIENT]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CLIENT](
	[ID_CLIENTE] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NULL,
	[CORREO] [nvarchar](100) NULL,
	[DIRECCION] [nvarchar](100) NULL,
	[TELEFONO] [nvarchar](max) NULL,
 CONSTRAINT [PK_TB_CLIENT] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CONTACTO]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CONTACTO](
	[ID_CONTACTO] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[MENSAJE] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_TB_ANUNCIO] PRIMARY KEY CLUSTERED 
(
	[ID_CONTACTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_DETALLE_PEDIDO]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DETALLE_PEDIDO](
	[ID_DETALLE_PEDIDO] [int] NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[SUBTOTAL] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_DETALLE_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_PEDIDO] ASC,
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_ESTADO]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ESTADO](
	[ID_ESTADO] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TB_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PEDIDO]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PEDIDO](
	[ID_PEDIDO] [int] NOT NULL,
	[ID_USUARIO] [int] NULL,
	[NOMBRE_CLIENTE] [nvarchar](100) NOT NULL,
	[NIT] [nvarchar](50) NOT NULL,
	[FECHA_PEDIDO] [datetime] NOT NULL,
	[MONTO] [numeric](18, 0) NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
 CONSTRAINT [PK_TB_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PRODUCTO]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PRODUCTO](
	[ID_PRODUCTO] [int] NOT NULL,
	[PRODUCTO] [nvarchar](50) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[PRECIO] [numeric](18, 0) NOT NULL,
	[IMAGEN] [nvarchar](max) NOT NULL,
	[STOCK] [int] NOT NULL,
 CONSTRAINT [PK_TB_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TRANSACCION_PAGO]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TRANSACCION_PAGO](
	[ID_TRANSACCION] [int] IDENTITY(1,1) NOT NULL,
	[ULTIMOS_DIGITOS_TARJETA] [varchar](4) NULL,
	[NOMBRE] [varchar](150) NULL,
	[AUTORIZACION] [varchar](32) NULL,
	[ID_ESTADO_TRANSACCION] [int] NULL,
	[MONTO] [numeric](5, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USR_DIRECCION]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USR_DIRECCION](
	[ID_DIRECCION] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TB_USR_DIRECCION] PRIMARY KEY CLUSTERED 
(
	[ID_DIRECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USR_TELEFONO]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USR_TELEFONO](
	[ID_TELEFONO] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TB_USR_TELEFONO] PRIMARY KEY CLUSTERED 
(
	[ID_TELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USUARIO]    Script Date: 21/10/2022 20:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIO](
	[ID_USUARIO] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[APELLIDO] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TB_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'User')
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsAdm], [Codigo]) VALUES (N'1ef4d72d-e2b5-4f76-a0d7-706560f63c9d', N'aleq316@gmail.com', 0, N'AInKpdifQfuspftBkdVEACRWhItaN9tW7yTZtsUCOiSGTXBGY06Iq4diRkcLyqwEUA==', N'6c5f408e-2a75-4136-9f92-840d4d58f1f9', NULL, 0, 0, NULL, 0, 0, N'aleq316@gmail.com', N'S', 1)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsAdm], [Codigo]) VALUES (N'1fe2cf8a-38bd-4ddb-a3bb-cbd7a0f299ef', N'cliente2@gmail.com', 0, N'AGdRT2djXeRfnu0+hN182GN+r6sLOfwLGbUDHc80e7iRWzGmY/I81D/9SGJFeL/zFA==', N'67de3afa-eabd-40d0-a95c-d3cdf259d5c3', NULL, 0, 0, NULL, 0, 0, N'Cliente2', N'N', 2)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsAdm], [Codigo]) VALUES (N'5a173d6b-ce8c-4b84-960d-3e06571265ff', N'cliente1@gmail.com', 0, N'ABfXoSfEZItoqRACPyAvmkVmY3pQ59jJ+Gp4zF823+GTD0+MKOkvhRsW5nMbIeLSgw==', N'b0fd88be-6d89-4690-98e8-d65753290061', NULL, 0, 0, NULL, 0, 0, N'cliente1@gmail.com', N'N', 3)
SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
INSERT [dbo].[TB_CAT_ESTADO_TRANSACCION] ([ID_ESTADO_TRANSACCION], [DES_ESTADO_TRANSACCION]) VALUES (1, N'PENDIENTE C')
INSERT [dbo].[TB_CAT_ESTADO_TRANSACCION] ([ID_ESTADO_TRANSACCION], [DES_ESTADO_TRANSACCION]) VALUES (2, N'AUTORIZADO')
INSERT [dbo].[TB_CAT_ESTADO_TRANSACCION] ([ID_ESTADO_TRANSACCION], [DES_ESTADO_TRANSACCION]) VALUES (3, N'RECHAZADO')
GO
INSERT [dbo].[TB_CATEGORIA] ([ID_CATEGORIA], [DESCRIPCION]) VALUES (1, N'CALZADO MUJER')
INSERT [dbo].[TB_CATEGORIA] ([ID_CATEGORIA], [DESCRIPCION]) VALUES (2, N'ROPA MUJER')
INSERT [dbo].[TB_CATEGORIA] ([ID_CATEGORIA], [DESCRIPCION]) VALUES (3, N'ACCESORIOS MUJER')
GO
INSERT [dbo].[TB_CLIENT] ([ID_CLIENTE], [NOMBRE], [CORREO], [DIRECCION], [TELEFONO]) VALUES (3, N'MARVIN ALONSO', N'cliente1@gmail.com', N'30 Avenida 3-40 zona 11', N'42100031')
GO
INSERT [dbo].[TB_CONTACTO] ([ID_CONTACTO], [NOMBRE], [EMAIL], [MENSAJE]) VALUES (1, N'MARVIN ALONSO', N'marvin@micorreo.com', N'Excelente pagina!!!')
INSERT [dbo].[TB_CONTACTO] ([ID_CONTACTO], [NOMBRE], [EMAIL], [MENSAJE]) VALUES (2, N'Maria Caceres', N'mcaceres@gmail.com', N'Mensaje de prueba')
GO
INSERT [dbo].[TB_DETALLE_PEDIDO] ([ID_DETALLE_PEDIDO], [ID_PEDIDO], [ID_PRODUCTO], [CANTIDAD], [SUBTOTAL]) VALUES (1, 1, 24, 1, CAST(460 AS Numeric(18, 0)))
INSERT [dbo].[TB_DETALLE_PEDIDO] ([ID_DETALLE_PEDIDO], [ID_PEDIDO], [ID_PRODUCTO], [CANTIDAD], [SUBTOTAL]) VALUES (1, 2, 11, 1, CAST(2000 AS Numeric(18, 0)))
INSERT [dbo].[TB_DETALLE_PEDIDO] ([ID_DETALLE_PEDIDO], [ID_PEDIDO], [ID_PRODUCTO], [CANTIDAD], [SUBTOTAL]) VALUES (1, 3, 18, 1, CAST(150 AS Numeric(18, 0)))
GO
INSERT [dbo].[TB_ESTADO] ([ID_ESTADO], [DESCRIPCION]) VALUES (1, N'PROCESADO')
INSERT [dbo].[TB_ESTADO] ([ID_ESTADO], [DESCRIPCION]) VALUES (2, N'COMPLETADO')
INSERT [dbo].[TB_ESTADO] ([ID_ESTADO], [DESCRIPCION]) VALUES (3, N'CANCELADO')
GO
INSERT [dbo].[TB_PEDIDO] ([ID_PEDIDO], [ID_USUARIO], [NOMBRE_CLIENTE], [NIT], [FECHA_PEDIDO], [MONTO], [ID_ESTADO]) VALUES (1, 3, N'Marcos', N'12312-1', CAST(N'2022-10-21T11:06:26.750' AS DateTime), CAST(810 AS Numeric(18, 0)), 1)
INSERT [dbo].[TB_PEDIDO] ([ID_PEDIDO], [ID_USUARIO], [NOMBRE_CLIENTE], [NIT], [FECHA_PEDIDO], [MONTO], [ID_ESTADO]) VALUES (2, 3, N'dsdadsa', N'12312-1', CAST(N'2022-10-21T11:54:10.690' AS DateTime), CAST(2350 AS Numeric(18, 0)), 1)
INSERT [dbo].[TB_PEDIDO] ([ID_PEDIDO], [ID_USUARIO], [NOMBRE_CLIENTE], [NIT], [FECHA_PEDIDO], [MONTO], [ID_ESTADO]) VALUES (3, 3, N'Javier', N'12312-1', CAST(N'2022-10-21T12:00:26.947' AS DateTime), CAST(150 AS Numeric(18, 0)), 1)
GO
INSERT [dbo].[TB_PRODUCTO] ([ID_PRODUCTO], [PRODUCTO], [DESCRIPCION], [ID_CATEGORIA], [PRECIO], [IMAGEN], [STOCK]) VALUES (1, N'MALETA NIKE BA5559', N'Maleta Brasilia Just Do It Unisex, modelo BA5559, color Gris, Marca Nike, Proveedor NORTHBAY INTERNATIONAL INC.', 6, CAST(250 AS Numeric(18, 0)), N'public/uploads/AccesoriosHombre/AccH1.png', 15)
INSERT [dbo].[TB_PRODUCTO] ([ID_PRODUCTO], [PRODUCTO], [DESCRIPCION], [ID_CATEGORIA], [PRECIO], [IMAGEN], [STOCK]) VALUES (2, N'CALCETINES NIKE SWOOSH C 2', N'Calcetines Nike Swoosh Crew 2 Pares Unisex, Modelo GN0607, Color Rosado, Marca Nike, Proveedor NETWORK SALE & LOGISTICS SA ', 6, CAST(60 AS Numeric(18, 0)), N'public/uploads/AccesoriosHombre/AccH2.png', 19)
INSERT [dbo].[TB_PRODUCTO] ([ID_PRODUCTO], [PRODUCTO], [DESCRIPCION], [ID_CATEGORIA], [PRECIO], [IMAGEN], [STOCK]) VALUES (3, N'RIÑORERA TAILORED HC7201', N'Riñorera Tailored for Her, Modelo MBL92, Color Rosado, Marca Adidas, Pais INDONESIA', 6, CAST(225 AS Numeric(18, 0)), N'public/uploads/AccesoriosHombre/AccH3.png', 15)
GO
SET IDENTITY_INSERT [dbo].[TB_TRANSACCION_PAGO] ON 

INSERT [dbo].[TB_TRANSACCION_PAGO] ([ID_TRANSACCION], [ULTIMOS_DIGITOS_TARJETA], [NOMBRE], [AUTORIZACION], [ID_ESTADO_TRANSACCION], [MONTO]) VALUES (1, N'5556', N'SOFIA GUERRA', N'1Hzf0dCBJYGyxHAexbn91QZHq3PKzKrM', 1, CAST(500.00 AS Numeric(5, 2)))
INSERT [dbo].[TB_TRANSACCION_PAGO] ([ID_TRANSACCION], [ULTIMOS_DIGITOS_TARJETA], [NOMBRE], [AUTORIZACION], [ID_ESTADO_TRANSACCION], [MONTO]) VALUES (2, N'1234', N'ALEJANDRA MORATAYA', N'9VqTIdiEa1jutRzFUv1HUaV4dFNokrhV', 1, CAST(100.00 AS Numeric(5, 2)))
INSERT [dbo].[TB_TRANSACCION_PAGO] ([ID_TRANSACCION], [ULTIMOS_DIGITOS_TARJETA], [NOMBRE], [AUTORIZACION], [ID_ESTADO_TRANSACCION], [MONTO]) VALUES (3, N'4321', N'JEREMY QUIÃ?ONEZ', N'SZfMyt3c9aTOouXdQhioaSsqcSeqFtGi', 1, CAST(50.00 AS Numeric(5, 2)))
SET IDENTITY_INSERT [dbo].[TB_TRANSACCION_PAGO] OFF
GO
INSERT [dbo].[TB_USR_DIRECCION] ([ID_DIRECCION], [ID_USUARIO], [DESCRIPCION]) VALUES (1, 3, N'CIUDAD')
INSERT [dbo].[TB_USR_DIRECCION] ([ID_DIRECCION], [ID_USUARIO], [DESCRIPCION]) VALUES (2, 3, N'CIUDAD')
INSERT [dbo].[TB_USR_DIRECCION] ([ID_DIRECCION], [ID_USUARIO], [DESCRIPCION]) VALUES (3, 4, N'MIXCO')
GO
INSERT [dbo].[TB_USR_TELEFONO] ([ID_TELEFONO], [ID_USUARIO], [DESCRIPCION]) VALUES (1, 3, N'12345678')
INSERT [dbo].[TB_USR_TELEFONO] ([ID_TELEFONO], [ID_USUARIO], [DESCRIPCION]) VALUES (2, 4, N'11221122')
INSERT [dbo].[TB_USR_TELEFONO] ([ID_TELEFONO], [ID_USUARIO], [DESCRIPCION]) VALUES (3, 5, N'23232323')
GO
INSERT [dbo].[TB_USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [PASSWORD]) VALUES (1, N'Alejandra', N'Morataya', N'aleq316@gmail.com', N'123')
INSERT [dbo].[TB_USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [PASSWORD]) VALUES (2, N'test', N'test', N'test@test.com', N'1234')
INSERT [dbo].[TB_USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [PASSWORD]) VALUES (3, N'Javier', N'Osorio', N'josorioe@miumg.com', N'1234')
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TB_DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDO_PEDIDO] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[TB_PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[TB_DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_PEDIDO_PEDIDO]
GO
ALTER TABLE [dbo].[TB_DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDO_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[TB_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[TB_DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_PEDIDO_PRODUCTO]
GO
ALTER TABLE [dbo].[TB_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_TB_PEDIDO_TB_CLIENT] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TB_CLIENT] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TB_PEDIDO] CHECK CONSTRAINT [FK_TB_PEDIDO_TB_CLIENT]
GO
ALTER TABLE [dbo].[TB_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_TB_PEDIDO_TB_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[TB_ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[TB_PEDIDO] CHECK CONSTRAINT [FK_TB_PEDIDO_TB_ESTADO]
GO
ALTER TABLE [dbo].[TB_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_TB_PEDIDO_TB_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TB_PEDIDO] CHECK CONSTRAINT [FK_TB_PEDIDO_TB_USUARIO]
GO
ALTER TABLE [dbo].[TB_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[TB_CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[TB_PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_CATEGORIA]
GO
ALTER TABLE [dbo].[TB_USR_DIRECCION]  WITH CHECK ADD  CONSTRAINT [FK_TB_USR_DIRECCION_TB_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TB_USR_DIRECCION] CHECK CONSTRAINT [FK_TB_USR_DIRECCION_TB_USUARIO]
GO
ALTER TABLE [dbo].[TB_USR_TELEFONO]  WITH CHECK ADD  CONSTRAINT [FK_TB_USR_TELEFONO_TB_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TB_USR_TELEFONO] CHECK CONSTRAINT [FK_TB_USR_TELEFONO_TB_USUARIO]
GO
ALTER TABLE [dbo].[TB_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [CK_TB_PRODUCTO_STOCK] CHECK  (([STOCK]>=(0)))
GO
ALTER TABLE [dbo].[TB_PRODUCTO] CHECK CONSTRAINT [CK_TB_PRODUCTO_STOCK]
GO
